{
  "extends": [
    "airbnb",
    "airbnb-typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    // Do not require default props for functional components
    "react/require-default-props": ["error", { "ignoreFunctionalComponents": true }],

    // Allow devDependencies in test files
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["src/**/*.spec.*", "src/__test__/**/*"] }]
  }
}